version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devops
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    networks:
      - two-tier-net

  app:
    build: ./frontend
    container_name: flask-app
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: devops
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    networks:
      - two-tier-net

networks:
  two-tier-net:
